html, body {
    /*height: 100%;*/
    background-color: #28204C;
}

.sidenav-wrapper {
    position: fixed;
    height: 100%;
    display: table;
}

#sidenav {
    display: table-row;
    vertical-align: middle;
    /*position: fixed;*/
    /*flex-direction: column;*/
}

.label {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    color: #53F2C2;
}

.list-group-item {
    color: #53F2C2;
    background-color: inherit;
    border-style: none;
    text-align: left;
}

.list-group-item:hover {
    background-color: inherit;
    color: #ffffff;
}

.list-group-item.active {
    color: #333333;
    background-color: #53F2C2;
    border-color: #53F2C2;
}

.section-wrapper {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.section {
    background-color: #53F2C2;
    padding-top: 2.5vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    border-radius: 1vh;
    border-style: double;
}

.header {
    text-align: center;
}

.text {
    text-align: justify;
    margin-top: 2.5vh;
}
